*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font: inherit;
    font-size: 100%;
    font-family: sans-serif;
    vertical-align: baseline;
}